
	<div class="stunning-header stunning-header-bg-lightgray">
		<div class="stunning-header-content">
			<h1 class="stunning-header-title c-dark">{{title}}</h1>
			<ul class="breadcrumbs">
				<li class="breadcrumbs-item c-dark">
					<a href="/" class="c-dark">Home</a>
					<i class="seoicon-right-arrow c-dark"></i>
				</li>
				<li class="breadcrumbs-item active c-dark">
					<span class="c-dark">{{title}}</span>
					<i class="seoicon-right-arrow"></i>
				</li>
			</ul>
	</div>
</div>