@layout.app({ title: "Welcome To app" })
 @slot('main')
    <div class="content-wrapper">
        @!component('components/pageHeader',{title:'Gtm Intigration'})
            
        
        
        @!component('components/home/newslatter',{})
    </div>
 @endslot
@end